.container {
  padding: 0 calc(50% - 95%/2);

  @media (min-width: 1024px) {
    padding: 0 calc(50% - 1000px/2);
  }

  @media (min-width: 1400px) {
    padding: 0 calc(50% - 1260px/2);
  }

  &--small {

    width: 280px;
    padding: 0 calc(50% - 97%/2);

    @media (min-width: 768px) {
      width: 500px;
      padding: 0 calc(50% - 95%/2);
    }

    @media (min-width: 1024px) {
      width: 827px;
      padding: 0 calc(50% - 95%/2);
    }
  }
}